@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

.container {
  height: 150px;
  display: flex;
  gap: 10px;
  margin-top: 80px;
}

.card {
  height: 100%;
  width: 20px;
  display: flex;
  flex-grow: 1;
  position: relative;
  transition: flex-grow 0.5s ease, height 0.5s ease, width 0.5s ease;
  background-size: cover;
  background-position: center;
  border-image: linear-gradient(0deg, #ffa500, transparent) 1; /* Fallback */
  border-image-slice: 1; /* Needed for border-image */
  animation: borderAnimation 2s linear infinite; /* Animation for moving border */
}

@keyframes borderAnimation {
  0% {
    border-image-source: linear-gradient(0deg, #ffa500, transparent);
    border-image-slice: 2;
  }
  25% {
    border-image-source: linear-gradient(90deg, #ffa500, transparent);
    border-image-slice: 2;
  }
  50% {
    border-image-source: linear-gradient(180deg, #ffa500, transparent);
    border-image-slice: 2;
  }
  75% {
    border-image-source: linear-gradient(270deg, #ffa500, transparent);
    border-image-slice: 2;
  }
  100% {
    border-image-source: linear-gradient(0deg, #ffa500, transparent);
    border-image-slice: 2;
  }
}

.card:hover {
  flex-grow: 4;
  box-shadow: #b8b8b893 0px 5px 15px;
}

.card-content {
  position: absolute;
  display: flex;
  justify-content: left;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 0 0 20px 20px;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  color: #ff0040c9;
}

.card {
  cursor: pointer;
}

.card-content .title {
  margin-left: 10px; /* Space between icon and title */
  opacity: 0; /* Initial state for hover effect */
  visibility: hidden; /* Initial state for hover effect */
  transition: opacity 0.5s ease, visibility 0.2s ease;
  margin-bottom: 2px;
  text-shadow: 2px 2px 2px #310080;
}

.card:hover .title {
  opacity: 1;
  translate: 0 0;
  visibility: visible;
}

.card.selected {
  flex-grow: 4;
}

.card.selected .card-content .title {
  opacity: 1;
  visibility: visible;
}

.MenuIcons {
  font-size: 24px;
}

@keyframes spinLogo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.logo.scale-animation {
  animation: scaleLogo 0.5s ease-in-out all;
}

@keyframes scaleLogo {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.Icon-div {
  display: inline-flex;
  align-items: center;
  text-shadow: 2px 2px 2px #310080;
}

.title-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Extra small devices (phones, 600px and down)  */
@media only screen and (max-width: 600px) {
  .container {
    height: 100px;
    gap: 5px;
    margin-top: 80px;
  }

  .card:hover {
    flex-grow: 3;
  }

  .card-content .title {
    margin-left: 5px;
    font-size: 20px;
  }
}

.disabled-card {
  pointer-events: none;
  opacity: 0.5;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
