.all-lineup-title {
  color: #ff0040;
  text-shadow: 0px 2px 2px #ff0040;
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.order-table-row {
  background-color: ff0040;
}
